@model IEnumerable<DagensTV.Models.ViewModels.PopVM>

<div id="popular-wrapper">
    @if (Model != null)
    {
        <section id="popular-list">
            <h1>
                PROGRAMMEN <span id="pop">DU</span> INTE FÅR MISSA
            </h1>
            @foreach (var item in Model)
            {
                <figure class="pop-img">
                    <a onclick="ShowInfo(@item.ScheduleId)">
                        <img src="@item.ImgUrl" title="@item.Name" alt="@item.Name">

                        @foreach (var show in item.Schedules)
                        {
                            <figcaption>
                                @show.ShowName<br /><i class="@item.Icon"></i> @show.ChannelName
                            </figcaption>
                        }
                    </a>
                </figure>
            }
        </section>
    }
</div>