<nav id="sub-nav">
    <div id="sub-nav-content">
        <label for="show-calendar" class="show-calendar"> På TV</label>
        <input type="checkbox" id="show-calendar" role="button">
        <ul id="nav-second-calendar" class="nav-second-caledar">
            <li><span class="nav-category">På TV</span></li>
            <li><a href="@Url.Action("Index", "Home", new { date = DateTime.Today.ToShortDateString() })" class="calendar-filter">Idag</a></li>
            <li><a href="@Url.Action("Index", "Home", new { date = DateTime.Today.AddDays(1).ToShortDateString() })" class="calendar-filter">Imorgon</a></li>
            @for (int i = 2; i < 7; i++)
            {
                @functions {
                    string UppercaseFirst(string str)
                    {
                        if (string.IsNullOrEmpty(str))
                            return string.Empty;
                        return char.ToUpper(str[0]) + str.Substring(1).ToLower();
                    }
                    }
                var d = new System.Globalization.CultureInfo("sv-SE").DateTimeFormat.GetDayName(DateTime.Now.AddDays(i).DayOfWeek);
                var day = UppercaseFirst(d);
                <li><a href="@Url.Action("Index", "Home", new { date = DateTime.Today.AddDays(i).ToShortDateString() })" class="calendar-filter" tabindex="1" title="@day">@day</a></li>
            }
        </ul>
        <div id="genres">
            <label for="show-genre" class="show-genre"> Genre</label>
            <input type="checkbox" id="show-genre" role="button">
            <ul id="nav-second" class="nav-second">
                <li><span class="nav-category">Genre</span></li>
                <li><a tabindex="1" href="/">Allt</a></li>
                <li><a class="category-filter" tabindex="1" title="Nyheter">Nyheter</a></li>
                <li><a class="category-filter" tabindex="1" title="Barn">Barn</a></li>
                <li><a class="category-filter" tabindex="1" title="Reality">Reality</a></li>
                <li><a class="category-filter" tabindex="1" title="Sport">Sport</a></li>
                <li><a class="category-filter" tabindex="1" title="TV-Serie">Serier</a></li>
                <li><a class="category-filter" tabindex="1" title="Film">Film</a></li>
                <li><a class="category-filter" tabindex="1" title="Kultur">Kultur</a></li>
                <li><a class="category-filter" tabindex="1" title="Dokumentär">Dokumentär</a></li>
            </ul>
        </div>
    </div>
</nav>

