@if (ViewBag.ScheduleList != null)
{
    foreach (var item in ViewBag.ScheduleList)
    {
        <h1>@item.ShowName</h1>
            <h6 id="overlay-text">@item.StartTime.ToShortDateString(), @item.StartTime.ToShortTimeString() - @item.EndTime.ToShortTimeString() <span id="overlay-channelname">@item.ChannelName</span></h6>
            <p id="overlay-resume">@item.Resume</p>
    }
}