@model IQueryable<DagensTV.Models.ViewModels.ChannelVM>

@if (Model != null)
{
    foreach (var channel in Model)
    {
        <section class="channel-list">
            <img src="@channel.ImgUrl" class="channel" title="@channel.Name" alt="@channel.Name">
            <span>@channel.Name</span>

            <ul>
                @{int i = 1;}
                @foreach (var show in channel.Schedules)
                    {
                    <li class="track-time @(show.HasPassed? "passed-programme" : "") @(show.IsActive?"active-programme":"")" data-start="@show.StartTime" data-end="@show.EndTime">
                        <span class="start-time">@show.StartTime.ToShortTimeString()</span><div class="@show.CategoryTag">
                            <span class="title" title="@show.ShowName"><a onclick="ShowInfo(@show.Id)">@show.ShowName</a></span><br>
                            <span class="genre">@show.MovieGenre</span><span class="rating @show.StarImage"> @show.ImdbRating</span>
                        </div>
                        <div id="progressbar" class="@show.CategoryTag"></div>                        
                    </li>
                    i++;
                }
            </ul>
        </section>
    }
}