@model IQueryable<DagensTV.Models.ViewModels.ChannelVM>

@if (ViewBag.Date != null)
{
    var date = ViewBag.Date;
    <div>
        <span id="schedule-date">@date</span>
    </div>
}

<div class="clear"></div>

@if (Model != null)
{
    foreach (var channel in Model)
    {
        <section class="channel-list">
            <img src="@channel.ImgUrl" class="channel" title="@channel.Name" alt="@channel.Name">
            <span>@channel.Name</span>

            <ul id="@channel.Name" class="channel-class">
                @{int i = 1;}
                @foreach (var show in channel.Schedules)
                {
                    <li class="@(show.HasPassed? "passed-programme" : "") @(show.IsActive?"active-programme":"")">
                        <span class="start-time" data-date="@show.StartTime.ToShortDateString()">@show.StartTime.ToShortTimeString()</span><div class="@show.CategoryTag">
                            <span class="title" title="@show.ShowName"><a onclick="ShowInfo(@show.Id)">@show.ShowName</a></span><br>
                            <span class="genre">@show.MovieGenre</span><span class="rating @show.StarImage"> @show.ImdbRating</span>
                        </div>
                        <div id="progressbar" class="@i-track-time @show.CategoryTag" data-start="@show.StartTime" data-end="@show.EndTime"></div>
                    </li>
                    i++;
                }
            </ul>
        </section>
    }
}